#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  background: rgba(51, 51, 51, 0.25);
  padding: 10px;
  border-radius: 10px;
  font-size: 12px !important;
}

.footer-year {
  color: rgba(255, 255, 255, 0.5);
}
