/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~swiper/css/bundle";

.swiper {
  height: 100%;
  margin: 0;
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: flex-end;

  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-h > .swiper-wrapper {
  & .swiper-slide:nth-child(1n) {
    background-color: #174950;
  }

  & .swiper-slide:nth-child(2n) {
    background-color: #008080;
  }

  & .swiper-slide:nth-child(3n) {
    background-color: #e60234;
    background-image: url(./assets/images/gamerpro.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  & .swiper-slide:nth-child(4n) {
    background-color: #8b0f32;
  }
}

.swiper-adoption > .swiper-wrapper {
  .swiper-slide:nth-child(1n) {
    background-color: #174950;
    background-image: url(./assets/images/longroad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(40, 27, 36);
    background-image: url(./assets/images/trauma.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & .swiper-tile {
      // color: rgb(116, 133, 143) !important;
    }
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(62, 56, 66);
    background-image: url(./assets/images/adoption-emotional-social-development.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(4n) {
    background-color: rgb(116, 133, 143);
    background-image: url(./assets/images/overcome.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(5n) {
    background-color: rgb(164, 189, 190);
  }

  .swiper-slide:nth-child(6n) {
    background-color: rgb(189, 214, 218);
  }
}

.swiper-mental > .swiper-wrapper {
  .swiper-slide:nth-child(1n) {
    background-color: #f4ede0;
    color: #222222;
    background-image: url(./assets/images/mentalhealth.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .swiper-slide:nth-child(2n) {
    background-color: #0052d5;
    background-image: url(./assets/images/awareness.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(3n) {
    background-color: #003471;
    background-image: url(./assets/images/educate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(4n) {
    background-color: #5c43a9;
    background-image: url(./assets/images/resources.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(5n) {
    background-color: #01e7b8;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-h {
  background: #eee;
}
.swiper-v {
  background: #eee;
}

.access-toast::part(message) {
  text-align: center;
}

ion-list {
  padding: 15px;
  border-radius: 15px;
  background-color: #000000a8 !important;
}
ion-item::part(native) {
  background-color: #00000000 !important;
}

ion-list-header {
  // color: rgb(40, 27, 36) !important;
}

.unselectable-text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.logo-darkblue {
  color: #06131b;
}

.logo-img {
  max-height: 56px;
  padding: 15px;
}
