<ion-content>

  <ng-container *ngIf="!access">
    <div #accesspanel class="access-section">
      <h1>Pre Release</h1>
      <ion-item>
        <ion-label>Access code</ion-label>
        <ion-input (ionChange)="this.accessCodeMessenger.next(this.accessCode)" [(ngModel)]="accessCode"></ion-input>
      </ion-item>
    </div>
  </ng-container>


  <ng-container *ngIf="access">
    <h1 class="title">Peaz in a Pod</h1>
    <swiper class="swiper-h swiper-main" [pagination]="{ clickable: true }" [grabCursor]="true" [effect]="'creative'"
      [creativeEffect]="creativeEffect">
      <ng-template swiperSlide>
        <swiper class="swiper-v swiper-mental" [direction]="'vertical'" [spaceBetween]="50"
          [pagination]="{ clickable: true }">
          <ng-template swiperSlide>Mental Health</ng-template>
          <ng-template swiperSlide>Awareness</ng-template>
          <ng-template swiperSlide>Education</ng-template>
          <ng-template swiperSlide>Resources</ng-template>
        </swiper>
      </ng-template>
      <ng-template swiperSlide>
        <swiper class="swiper-v swiper-adoption" [direction]="'vertical'" [spaceBetween]="50"
          [pagination]="{ clickable: true }">
          <ng-template swiperSlide>
            <div>
              <p>Adoptees</p>
              <small>Two Peaz in a Pod</small>
            </div>
          </ng-template>
          <ng-template swiperSlide>Science and Psychology of Adoption</ng-template>
          <ng-template swiperSlide>
            Emotional and Social Development
            <ul>
              <li>Relationships with Adults</li>
              <li>Relationships with peers</li>
              <li>Emotional Functioning</li>
              <li>Sense of Identity and Belonging</li>
            </ul>
          </ng-template>
          <ng-template swiperSlide>
            <p>Learn, grow, overcome</p>
            <a href="https://twopeazinapod.org">Two Peaz in a Pod</a>
          </ng-template>
        </swiper>
      </ng-template>
      <ng-template swiperSlide>
        <div class="gaming-content">
          <p>Gaming</p>
          <br>
          <p><small>Community, friends, bonding</small></p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
          <h1>Education</h1>
          <h3>Knowledge</h3>
          <h3>Emotional Intelligence</h3>
          <h3>Social Intelligence</h3>
        </div>
      </ng-template>
    </swiper>
  </ng-container>

</ion-content>